<!DOCTYPE html>
<html lang="en">
<head>
<title>RC BCM Demo</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="style.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" rel="stylesheet">
</head>
<body>

<div class="header">
	<img src="rollcall-logo-white-rev-withtext.png" alt="Roll Call Logo" width="90" height="90" class="rounded hp">
	<p class="text-white text-4xl">Roll Call BCM Demo</p>
	<p class="text-green-700 text-4xl">Admin Console</p>
 
</div>

<div class="topnav">
	<a href="/"><%= dictionary.home %></a>
	<a href="/adminConsole"><%= dictionary.adminConsole %></a>
	<a href="#"><%= dictionary.mobileAdmin %></a>
	<a href="#"><%= dictionary.mobileUser %></a>
</div>

<div class="row">
	<div class="column side">
		<h2>Section Menu</h2>
		<ul>
			<li><a href="#">Document Templates</a></li>
			<li><a href="#">Assets</a></li>
			<li><a href="#">Scenario Templates</a></li>
			<li><a href="#">Employees</a></li>
			<li><a href="#">BCM Events</a></li>
			<br></br>
			<li><a class="text-red-500 text-bold uppercase">LANG: <%= langCode %></a></li>
		</ul>
	</div>
  
	<div class="column right">

    <script src="https://peteredwinsmith.github.io/ecm/database.js"></script>

	<p style="margin:0;display:inline;float:left" class="text-2xl font-bold"><%= dictionary.newCustomer %></p>

	<p style = "margin:0;display:inline;margin-left:550px;padding-bottom:0.5em;" class="text-lg font-bold"><%= dictionary.welcome %> <%= firstName %></p>
  
	<p style="padding-top:0.75em;padding-bottom:0.5em;" class="text-base text-red-500 italic"><%= displayMessage %></p>

<form action="/addcustomer" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="fieldlabel">
		<label for="firstname" size=30><%= dictionary.firstName %></label>
	</div>
	<div class="mb-6">
    <input type="text" id="firstname" name="firstname" class="input-content-offset-10 ps-1 bg-gray-50 border border-gray-400 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-90 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="<%= newName %>">
    </div>
	<div class="fieldlabel">
		<label for="suburb" size=20><%= dictionary.suburb %></label>
	</div>
    <div class="mb-6">
    <input type="suburb" id="suburb" name="suburb" class="input-content-offset-10 ps-1 bg-gray-50 border border-gray-400 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-90 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="<%= newSuburb %>">
    </div>
	<div class="regularbutton">
		<button type="submit">Submit</button>
	</div>
</form>

</div>
  
</div>

<footer>
	<div class="footer">
	</div>
</footer>

</body>
</html>