<!DOCTYPE html>
<html lang="en">
<head>
<title>RC BCM Demo</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="style.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" rel="stylesheet">
</head>
<body>

<div class="header">
	<img src="rollcall-logo-white-rev-withtext.png" alt="Roll Call Logo" width="90" height="90" class="rounded hp">
	<p class="text-white text-4xl">Roll Call BCM Demo</p>
	<p class="text-green-700 text-4xl"><%= dictionary.adminConsole %></p>
 
</div>

<div class="topnav">
	<a href="/"><%= dictionary.home %></a>
	<a href="/adminConsole"><%= dictionary.adminConsole %></a>
	<a href="/customer"><%= dictionary.mobileAdmin %></a>
	<a href="#"><%= dictionary.mobileUser %></a>
</div>

<div class="row">
	<div class="column side">
		<h2 class="underline">Section Menu</h2>
		<ul>
			<li><a href="#">Document Templates</a></li>
			<li><a href="#">Assets</a></li>
			<li><a href="#">Scenario Templates</a></li>
			<li><a href="#">Employees</a></li>
			<li><a href="#">BCM Events</a></li>
      <br></br>
      <li><a class="text-red-500 text-bold uppercase">LANG: <%= langCode %></a></li>
		</ul>
	</div>
  
	<div class="column right">

	<script src="https://peteredwinsmith.github.io/ecm/database.js"></script>

	<p style="margin:0;display:inline;float:left" class="text-2xl font-bold"><%= dictionary.customerList %></p>

  <p style = "margin:0;display:inline;margin-left:600px;padding-bottom:0.5em;" class="text-lg font-bold"><%= dictionary.welcome %> <%= firstName %></p>

  <p style="padding-top:0.75em;padding-bottom:0.5em;" class="text-base text-red-500 italic"><%= displayMessage %></p>

  <form name = "custSearch" action="/searchCustomer" method="POST" enctype="application/x-www-form-urlencoded">
    <div style="display: flex;float:left">
    <input type="text" id="searchText" name="searchText"  value = "<%= searchText %>" class="input-content-offset-10 ps-1 bg-gray-50 border border-gray-400 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-90 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
    </div>
    <div class="regularbutton" style = "display: flex;float:left;margin-left: 10px;">
      <button type="submit"><%= dictionary.search %></button>
    </div>
  </form>
  
  <form name = "custCreate" action="/adminConsole" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="createbutton" style = "display: flex;float:left;margin-left: 450px;">
    <button type="submit"><%= dictionary.create %></button>
    </div>
  </form>
  
  <p></p>
  
  <div style="padding-top:4em;padding-bottom:1em">
    <table class="text-sm">
        <thead></thead>
        <tbody>
            <tr>
                <td class="underline" style = "position:relative; left:20px;"><a href="/adminConsole"><%= dictionary.id %></a></td>
                <td class="underline"  style = "position:relative; left:135px;"><a href="/sortCustomers?sort=first_name"><%= dictionary.firstName %></a></td>
                <td class="underline" style = "position:relative; left:280px;"><a href="/sortCustomers?sort=suburb"><%= dictionary.suburb %></a></td>
            </tr>
          </tbody>
    </table>
  </div>

<div class="relative overflow-x-auto">
  <table class="w-9/12 text-sm">
      <thead></thead>
        <tbody>
          <% for(customer in rows) { %>
            <tr class="bg-gray-50">
              <td class="px-5 py-3 text-left text-gray-500 dark:text-gray-400 bg-white border-b dark:bg-gray-800 dark:border-gray-700"><%= rows[customer].id %></td>
              <td class="px-5 py-3 text-left text-gray-500 dark:text-gray-400 bg-white border-b dark:bg-gray-800 dark:border-gray-700"><%= rows[customer].first_name %></td>
              <td class="px-5 py-3 text-gray-500 dark:text-gray-400 text-left bg-white border-b dark:bg-gray-800 dark:border-gray-700"><%= rows[customer].suburb %></td>
			        <td class="px-2 py-4"></td>
              <td class="underline"><a href="/edit/<%= rows[customer].id %>"><%= dictionary.edit %></a></td>
			        <td class="px-2 py-4"></td>
              <td class="underline"><a href="/delete/<%= rows[customer].id %>"><%= dictionary.delete %></a></td>
            </tr>
          <% } %>
      </tbody>
  </table>
</div>

</div>
  
</div>
<footer>
	<div class="footer">
    <div class="listnav">
      <% if (currentPage > 1) { %>
        <a href="/custSearch?page=<%= currentPage - 1 %>&sch=<%= searchText %>"><%= dictionary.prev %></a>
      <% } %>
    
      <% for (let i = 1; i <= totalPages; i++) { %>
        <a href="/custSearch?page=<%= i %>&sch=<%= searchText %>"><%= i %></a>
      <% } %>
    
      <% if (currentPage < totalPages) { %>
        <a href="/custSearch?page=<%= currentPage + 1 %>&sch=<%= searchText %>"><%= dictionary.next %></a>
      <% } %>
    </div>
	</div>
</footer>

</body>
</html>